body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #ddd url(../img/bg.jpg) repeat top left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 10px auto;
}