h1 {
    text-align: center;
}

td {
    font-size: large;
    white-space: nowrap;
}

table {
    width: 100%;
}

.base_clock {
    visibility: hidden;
}

#countdown_dashboard {
    visibility: hidden;
}


div {
    text-align: center;
}

.ui-widget {
    font-size: 1.6em;
}
